

main {
    background-image: linear-gradient(lightblue, royalblue);
    color: #CFE2FF;
}

img {
    height: 30vh;

}

figure {
    margin-bottom: 0px;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption {
    font-size: large;
    display: flexbox;
    width: 80%;
}



article {
    display: flexbox;
    width: 30vw;
    padding-left: 5vw;
}

aside {
    display: flexbox;
    width: 30vw;
}

footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CFE2FF;
    margin-top: 0px;
}

.label {
    display: flex;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro {
    display: flexbox;
    width: 50vw;
}

.skills {
    display: grid;
    grid: auto auto / auto auto;
    grid-gap: 5vh;
}

.badge {
    background-color: #74C0FC;
    color: white;
    padding: 0.5vh 1vw;
    text-align: center;
    border-radius: 20px;
    font-size: 2vh;
  }

.project {
    display: flex;
    justify-content: space-between;
    width: 75vw;
    padding-bottom: 10%;
    align-items: center;
}


.desc {
    display: flexbox;
    width: 10vw;
}

.portfolioImg {
    width: 20vw;
    height: 20vh;
}



.topBorder {
    height: 10vh;
    background-color: white;
}

.footerContent {
    border: 0.2vh solid #CFE2FF;
}

.links {
    padding: 0.5vh;
    margin-bottom: 0.2vh;
    background-color: #CFE2FF;
}

 @media only screen and (max-width: 768px) {



     .project {
        flex-direction: column;
    }

    .desc {
        display: flexbox;
        width: 50vw;
    } 

} 
